.project {

    &__title {
        display: block;
        width: 100%;

        margin-top: 144px;
        margin-bottom: 16px;

        font-family: 'Raleway', sans-serif;
        font-size: 48px;
        font-weight: 500;

        color: $textprimary;

        @include breakpoint-down(small) {
            margin-top: 96px;

            font-size: 36px;
        }
    }

    &__caption {

        display: block;
        width: 100%;

        margin-bottom: 48px;

        font-family: 'Noto Sans',sans-serif;
        font-size: 14px;
        font-weight: 400;

        color: $textprimary;

    }

    &__info {

        display: flex;
        width: 100%;

        justify-content: space-around;

        flex-wrap: wrap;

        line-height: 24px;

        margin-bottom: 24px;

        > p {

            font-family: 'Times New Roman', Times, serif;
            font-size: 14px;
            font-weight: 400;
    
            color: #767484;


            &:not(:last-child) {

                margin-right: 36px;
            }

            @include breakpoint-down(medium) {
                display: none;
            }

        }

    }

    &__cover-image {

        display: block;

        width: 100%;
        height: auto;

        margin-bottom: 96px;

    }

}

.article {


    &__mainphrase {

        display: block;
        width: 100%;

        margin-bottom: 96px;

        font-family: 'Raleway', sans-serif;
        font-size: 48px;
        font-weight: 500;

        color: $textprimary;

        text-align: center;

        @include breakpoint-down(small) {

            font-size: 30px;
            margin-bottom: 48px;
        }

    }

    &__secondaryphrase {

        display: block;
        width: 100%;

        margin-bottom: 96px;

        font-family: 'Raleway', sans-serif;
        font-size: 36px;
        font-weight: 500;

        color: $textprimary;

        text-align: center;

        @include breakpoint-down(small) {

            font-size: 24px;
            margin-bottom: 48px;
        }

    }

    &__titleblock {

        display: block;
        width: 100%;

        margin-bottom: 36px;

        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: 500;

        color: $textprimary;

        @include breakpoint-down(small) {

            font-size: 20px;
            margin-bottom: 24px;
            vertical-align: middle;
        }

        > span {

            content: '';
            display: inline-block;
            height: 1px;
            width: 96px;
            vertical-align: middle;
            color: $textprimary;
            background-color: $textprimary;
            margin-left: 16px;

            @include breakpoint-down(small) {
                width: 64px;
            }
        }

    }

    &__paragraph {

        width: 100%;
        line-height: 24px;

        font-size: 16px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        
        color: $textprimary;


        > span {
            color: $textblue;
        }

        margin-bottom: 30px;
        
    }


}

.articlespace {

        margin-bottom: 64px;
    }


.project-footer {


    width: 100%;

    background-color: $textblue;

    margin-top: 128px;
    
    padding-top: 64px;
    padding-bottom: 96px;


&__nextproject {

    margin-bottom: 30px;

    color: #fff;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;

    @include breakpoint-down(small) {
        font-size: 24px;
    }

}

&__name {

    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;

    color: #fff;
}

&__button {

    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;

    display: inline-block;
    border: 2px solid #fff;
    padding: 3px 16px 6px 16px;
    border-radius: 24px;

    margin-top: 24px;

    color: #fff;

    &:hover {
        color: $accentprimary;
        border-color: $accentprimary;
    }

}

}